/*
!/*.c
!/*.h
!/*.s
!/*.af
!/*.sb
!/*.md
!/*.txt
!/makefile
!/unlicense
!/comp
!/mach
!/forth
!/talks
!/sublime
!/examples

!/clib
/clib/*
!/clib/*.h
!/clib/*.c

!/scripts
/scripts/*
!/scripts/*.py
!/scripts/*.md

!/bench
/bench/*
!/bench/*.md
!/bench/*.c
!/bench/*.go
!/bench/*.zig
!/bench/*.java
!/bench/*.af
!/bench/*.fs
!/bench/*.lua
!/bench/*.mjs
!/bench/*.lisp
!/bench/*.py

# Should be listed last.
.*
*.exe
*.dSYM
*.plist
!.git*
!*ignore
!*rc
!*config
!.clang*
