/*
!/*.c
!/*.h
!/*.s
!/*.f
!/*.sb
!/*.md
!/*.txt
!/makefile
!/comp
!/mach
!/forth
!/bench
!/talks
!/sublime


# Should be listed last.
.*
*.exe
*.dSYM
!.git*
!*ignore
!*rc
!*config
!.clang-format
!.clangd
