/*
!/*.c
!/*.h
!/*.s
!/*.af
!/*.sb
!/*.md
!/*.txt
!/makefile
!/unlicense
!/comp
!/mach
!/forth
!/bench
!/talks
!/sublime
!/examples

!/clib
/clib/*
!/clib/.h
!/clib/.c

# Should be listed last.
.*
*.exe
*.dSYM
*.plist
!.git*
!*ignore
!*rc
!*config
!.clang*
